## DDoS Attack Classification using ML and DL

Dataset: http://dx.doi.org/10.17632/mfnn9bh42m.1#file-ba7d3a46-1dc3-452e-aeac-26d909389b29

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
udp=pd.read_csv('./data/BOUN_UDP_Anon.csv')

In [5]:
udp

,Time,Frame Number,Frame_length,Source_ip,Destination_IP,Source_Port,Destination_Port,SYN,ACK,RST,TTL,TCP_Protocol
0,0.000000,1,68,92.45.54.178,10.50.209.134,NaN,NaN,NaN,NaN,NaN,116,UDP
1,0.000218,2,900,10.50.197.6,31.13.84.8,49218.0,443.0,Not set,Set,Not set,127,TCP
2,0.000233,3,171,31.13.84.8,192.168.66.111,443.0,40991.0,Not set,Set,Not set,"252,87",TCP
3,0.000235,4,1500,192.168.68.148,54.225.245.82,54602.0,443.0,Not set,Set,Not set,"63,64",TCP
4,0.000466,5,126,192.168.79.128,64.15.113.173,55251.0,443.0,Not set,Set,Not set,"63,64",TCP
...,...,...,...,...,...,...,...,...,...,...,...,...
8047330,484.638574,8047331,2978,79.123.178.64,167.114.91.218,3389.0,3403.0,Not set,Set,Not set,127,TCP
8047331,484.638728,8047332,2978,79.123.178.64,167.114.91.218,3389.0,3403.0,Not set,Set,Not set,127,TCP
8047332,484.638730,8047333,382,192.168.74.193,216.58.208.102,NaN,NaN,NaN,NaN,NaN,"63,128",UDP
8047333,484.638731,8047334,144,78:dd:08:c4:2b:ff,Alcatel-_70:9b:c7,NaN,NaN,NaN,NaN,NaN,63,Generic Routing Encapsulation
8047334,484.638749,8047335,78,92.45.54.178,10.50.209.134,NaN,NaN,NaN,NaN,NaN,116,UDP

In [4]:
attack1=udp[(udp['Time']>80.87054)&(udp['Time']<102.68198)]
attack2=udp[(udp['Time']>180.94241)&(udp['Time']<203.55186)]
attack3=udp[(udp['Time']>280.59444)&(udp['Time']<303.16265)]
attack4=udp[(udp['Time']>381.01394)&(udp['Time']<403.65057)]

In [ ]:
udp_attacks=pd.concat([attack1,attack2,attack3,attack4])

In [ ]:
udp_attacks['Type']="UDP_ATTACK"

In [ ]:
udp_attacks

In [ ]:
udp_benign=udp[(udp['Time']<70)]

In [ ]:
udp_benign['Type']="BENIGN"

In [ ]:
udp_benign

In [ ]:
UDP_Flood_Data=pd.concat([udp_attacks,udp_benign])

In [ ]:
UDP_Flood_Data.shape

In [ ]:
tcp=pd.read_csv('./data/BOUN_TCP_Anon.csv')

In [ ]:
attack1=tcp[(tcp['Time']>80.22269)&(tcp['Time']<102.20233)]
attack2=tcp[(tcp['Time']>180.17426)&(tcp['Time']<203.08441)]
attack3=tcp[(tcp['Time']>279.97402)&(tcp['Time']<301.79111)]
attack4=tcp[(tcp['Time']>380.10981)&(tcp['Time']<402.35755)]

In [ ]:
tcp_attacks=pd.concat([attack1,attack2,attack3,attack4])
tcp_attacks['Type']="TCP_ATTACK"

In [ ]:
tcp_benign=tcp[tcp['Time']>420]

In [ ]:
tcp_benign['Type']="BENIGN"

In [ ]:
tcp_benign

In [ ]:
TCP_SYN_Data=pd.concat([tcp_attacks,tcp_benign])

In [ ]:
sns.countplot(TCP_SYN_Data['Type'])

In [ ]:
sns.countplot(UDP_Flood_Data['Type'])

In [ ]:
TCP_SYN_Data.to_csv('./data/TCP_SYN_DATA.csv')
UDP_Flood_Data.to_csv('./data/UDP_FLOOD_DATA.csv')

In [ ]:
final_df=pd.concat([TCP_SYN_Data,UDP_Flood_Data])

In [ ]:
sns.countplot(final_df['Type'])

In [ ]:
final_df.to_csv('./data/DDoS_Attack_Dataset.csv')